{% extends 'base2.html.twig' %}

{% block title %}Contactar{% endblock %}

{% block extracontent %}

{% endblock %}
{% block body %}


    <!--============================== content =================================-->

    <div id="content" class="extra-content" >
        <div class="row-6">







            <div class="container">
                <div class="row">
                    <article class="span4">
                        <h2>Datos de Contacto</h2>
                        <address class="address-1">
                            <em>Direccion:</em>
                            <p>Calle 12 No. 8-42 Oficina 221
                                Valledupar - Cesar.
                                .</p>
                            <em>Telefono: </em>
                            <p class="border2"> <span>+57 (5) 5704263</span>
                        </address>
                    </article>
                    <article class="span8">
                        <h2>Envianos tu Mensaje</h2>

                        <form action="{{ path('home_contactar') }}" method="post" enctype="multipart/form-data">
                        {{ form_start(form) }}
                        <fieldset>
                            <div class="coll-1">
                                {{ form_errors(form.nombre)  }}
                                {{ form_label(form.nombre) }}
                                {{ form_widget(form.nombre) }}
                            </div>
                            <div class="coll-2">
                                {{ form_errors(form.email)  }}
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="coll-3">
                                {{ form_errors(form.telefono)  }}
                                {{ form_label(form.telefono) }}
                                {{ form_widget(form.telefono) }}
                            </div>
                            <div class="clear"></div>
                            <div>
                                <div class="coll-5">
                                    {{ form_errors(form.dpto)  }}
                                    {{ form_label(form.dpto) }}
                                    {{ form_widget(form.dpto) }}
                                </div>

                            </div>
                            <div class="clear"></div>
                            <div>
                                <div>
                                    {{ form_errors(form.mensaje)  }}
                                    {{ form_label(form.mensaje) }}
                                    {{ form_widget(form.mensaje) }}
                                </div>


                            </div>

                            <div class="clear"></div>
                            <div>
                                <input type="submit" value="Enviar" class="button">

                            </div>
                        </fieldset>
                        {{ form_end(form) }}
                        </form>

                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
